/* 
verde escuro: #223a1d
verde medio: #2e5117
verde claro: #71cd71
cinza claro: #cad9ca
cor de fundo da main: #406d43
marrom: #8b4513

verde quase branco: #f8f9fa

cinza escuro: #696969
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: #2e5117;
}

#header div {
    display: flex;
    align-items: center;
    gap: 12px;
}

#header img {
    width: 40px;
}

#header h1 {
    color: #71cd71;
    font-size: 28px;
}

#header ul {
    display: flex;
    gap: 28px;
    list-style: none;
}

#header a {
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
    padding: 8px;
}

#header a:hover {
    color: #71cd71;
}

.active {
    border: 2px solid #71cd71;
    background-color: #3d6c2b;
    border-radius: 8px;
}

main {
    min-height: calc(100vh - 128px);
    background-image: linear-gradient(to left, #3d6c2b, #406d43);
    padding: 32px 96px;
}


#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;
    background-color: #223a1d;
    color: white;
}