#page-header {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    gap: 16px;
}

#page-header h1 {
    font-size: 40px;
}

#page-header p {
    color: #f8f9fa;
}

.card-grid {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    background-color: white;
    padding: 32px 16px;
    border-radius: 10px;
    box-shadow: -6px 0px 0px #71cd71;
}

.card h3 {
    margin-bottom: 10px;
    color: #223a1d;
}

.card span {
    color: #696969;
    font-size: 14px;
}

.card p {
    color: #696969;
    margin-top: 10px;
    margin-bottom: 10px;
}